<% @no_page_title = true %>

<div class="row" id="game-info" data-gameId="<%= @game_id %>" data-playerPosition="<%= @position %>" data-players="<%= @players.to_json %>" data-token="<%= csrf_token %>" data-channel="<%= request.path_info %>">
  <div class="col-md-4">
    <h1 id="title"><%= @page_title = "Game #{@game_id}: VS #{(@players - [player.email]).join(', ')}" %></h1>
    <h2 id="move_count">Moves: <span id="move_num"></span></h2>
    <div id="scores"></div>
    <div id="current_move"></div>
    <div id="previous_states">
      <label for="previous_state">View Previous Move: </label>
      <select id="previous_state"></select>
      <a href="#" id="resume_play">Current Move</a>
    </div>
  </div>

  <div class="col-md-8" id="board_rack">
    <div id="board"></div>
    <div id="rack"></div>
  </div>
</div>

<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/message-bus.js"></script>
<script type="text/javascript" src="/app.js"></script>
