<% @no_page_title = true %>

<div class="row">
  <div class="col-md-4">
    <h1 id="title"><%= @page_title = "Game #{@game_id}: VS #{(@players - [player.email]).join(', ')}" %></a> <div id="spinner"><img src="/spinner.gif"/></div></h1>
    <h2 id="to_move"></h2>
    <div id="scores"></div>
    <div id="current_move"></div>
  </div>

  <div class="col-md-8" id="board_rack">
    <div id="board"></div>
    <div id="rack"></div>
  </div>
</div>

<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/jquery-ui.min.js"></script>
<script type="text/javascript" src="/app.js"></script>
<script type="text/javascript">
window.gameId = <%= @game_id %>;
window.playerPosition = <%= @position %>;
window.players = <%== @players.to_json %>;
$.ajaxSetup({headers: {'X-CSRF-TOKEN': "<%= csrf_token %>"}});
</script>
